html {
	overflow: hidden;
	-ms-touch-action: none;
	-ms-content-zooming: none;
}
body {
	position: absolute;
	margin: 0px;
	padding: 0px;
	background: #fff;
	width: 100%;
	height: 100%;
	font-size:13px;
    font-family:ו;
}
#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
}

#ul_musicList
    {
      width:300px;
      list-style-type:none;   
      margin:5px 0 3px 0;
      padding:0px;    
    }  
#ul_musicList li
	{
	  padding:5px;
	  border:solid 1px #EEEEEE;
	}

font{
	color:red;
	font-weight:bold;
	}